@font-face {
  font-family: harrypotter;
  src: url(HARRYP__.TTF);
}

@font-face {
  font-family: inkpot;
  src: url(Inkpot.ttf);
}

@font-face {
  font-family: hogw;
  src: url(Hogww___.ttf);
}

html {
  background-color: bisque;
}

h1 {
  font-family: harrypotter;
  text-align: center;
  margin-top: 0;
}

h2 {
  font-family: hogw;
}

h3.name,
h4,
#close {
  font-family: inkpot;
}

li {
  cursor: pointer;
  margin: 10px;
}

.hide {
  display: none;
}

.bg-modal {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-content {
  max-height: 100%;
  margin: 3em 2em;
  background-color: bisque;
  padding: 0 2em;
  padding-bottom: 1em;
}

#close {
  border: none;
  background-color: initial;
  cursor: pointer;
  font-size: 30px;
  color: black;
}

#close:hover {
  color: firebrick;
}

.image-container {
  display: grid;
  grid-template-areas: "photo crest";
  grid-gap: 1em;
}

.photo {
  grid-area: photo;
  max-width: 100%;
  margin: auto auto;
}
.crest {
  grid-area: crest;
  max-width: 100%;
  margin: auto auto;
}

h3,
h4 {
  pointer-events: none;
}

div.interactive {
  margin: auto 0;
}

select,
button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 12px;
  font-family: hogw;
  margin: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: darkred;
  cursor: default;
}
